{
  "SECRET_KEY": "INSECURE",
  "DB_ENGINE": "django.db.backends.postgresql",
  "DB_NAME": "notabanane",
  "DB_USER": "__whoami__",
  "DB_PASSWORD": "",
  "DB_HOST": "",
  "DB_OPTIONS": {},
  "ADMIN_URL": "admin/",
  "EMAIL_BACKEND": "django.core.mail.backends.console.EmailBackend",
  "DEFAULT_FROM_EMAIL": "noreply@example.com",
  "WAGTAIL_ADMIN_URL": "cms/",
  "RECAPTCHA_PUBLIC_KEY": "",
  "RECAPTCHA_PRIVATE_KEY": "",
  "PROJECT_CONTACT_EMAIL": "contact@example.com"
}
