{
  "SECRET_KEY": "INSECURE",
  "DB_ENGINE": "django.db.backends.postgresql",
  "DB_NAME": "notabanane",
  "DB_USER": "__whoami__",
  "DB_PASSWORD": "",
  "DB_HOST": "",
  "DB_OPTIONS": {},
  "ADMIN_URL": "admin/",
  "WAGTAIL_ADMIN_URL": "cms/",
  "RECAPTCHA_PUBLIC_KEY": "",
  "RECAPTCHA_PRIVATE_KEY": ""
}
