{
  "SECRET_KEY": "INSECURE",
  "DB_ENGINE": "django.db.backends.sqlite3",
  "DB_NAME": "gt.db",
  "DB_USER": "",
  "DB_PASSWORD": "",
  "DB_HOST": "",
  "DB_OPTIONS": {},
  "ADMIN_URL": "admin/",
  "WAGTAIL_ADMIN_URL": "cms/"
}
