[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[dev-packages]
"flake8" = "*"
isort = "*"
django-debug-toolbar = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-pythonpath = "*"
pytest-spec = "*"
pytest-sugar = "*"
tox = "*"
coverage = ">=4.5"
ipython = "*"
faker = "*"
factory-boy = "*"
codecov = "*"
mypy = "*"
django-stubs = "< 1.0"

[packages]
wagtail = ">=2.6"
pillow = "*"
django-treebeard = "*"
django = ">=2.2.2"
babel = "*"
django-widget-tweaks = "*"
django-recaptcha = "*"
html2text = "*"
django-anymail = "*"
sentry-sdk = "*"
raven = "*"
psycopg2 = "*"
django-storages = "*"
boto3 = "*"
isodate = "*"

[pipenv]
allow_prereleases = true
