[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
"flake8" = "*"
isort = "*"
django-debug-toolbar = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-pythonpath = "*"
pytest-spec = "*"
pytest-sugar = "*"
tox = "*"
coverage = ">=4.5"
ipython = "*"

[packages]
wagtail = ">=1.10"
pillow = "*"
django-treebeard = "*"
django = ">=2.1"
psycopg2-binary = "*"
babel = "*"
django-widget-tweaks = "*"
django-recaptcha = "*"
html2text = "*"
django-anymail = "*"
