{% load i18n %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailroutablepage_tags %}

<!DOCTYPE html>
<html {% get_current_language as LANGUAGE_CODE %}lang="{{ LANGUAGE_CODE }}">
  <head>
    {% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0">
    <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %} &dash; NotaBanane{% endblock %}</title>
    <meta name="created" content="{% now "jS M Y h:i" %}" />
    <link rel="icon" href="{% static 'img/favicon.png' %}" sizes="16x16" type="images/png" />
    <meta name="description" content="{% block meta_description %}{% endblock meta_description %}" />
    <meta name="keywords" content="{% block meta_keywords %}{% endblock meta_keywords %}"/>
    {% endblock head %}

    {% block css %}
    {% if not WEBPACK_DEV_SERVER_URL %}<link rel="stylesheet" type="text/css" href="{% static 'css/App.css' %}" />{% endif %}
    {% endblock css %}

    {% block extra_css %}
    {% endblock extra_css %}
  </head>
  <body
      id="{% block body_id %}id_body{% endblock body_id %}"
      class="{% block body_class %}{% endblock %}"
      data-controller="{% block data_controller %}{% endblock data_controller %}"
      data-action="{% block data_action %}{% endblock data_action %}"
      >
    <div id="id_wrap">
      {% block header %}
      <div id="navbar_wrapper">
        <div class="container is-fluid">
          <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="/">
                <img src="{% block navbar_brand_logo_src %}{% static 'img/logo_cranberry.svg' %}{% endblock %}" alt="NotaBanane logo" height="70" />
              </a>
              <div class="navbar-burger">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
            <div id="notabanane_navbar" class="navbar-menu">
              <div class="navbar-start">
                <a href="{% slugurl 'about' %}" class="navbar-item">{% trans "About" %}</a>
                <a href="#" class="navbar-item">{% trans "Contact" %}</a>
              </div>
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="field is-grouped social-links">
                    <p class="control">
                      <a href="https://www.instagram.com/notabanane" target="_blank"><span class="icon"><i class="fa fa-instagram"></i></span></a>
                      <a href="" target="_blank"><span class="icon"><i class="fa fa-facebook-square"></i></span></a>
                      <a href="#" target="_blank"><span class="icon"><i class="fa fa-pinterest"></i></span></a>
                    </p>
                  </div>
                </div>
                <div id="search_toggler_wrapper" class="navbar-item is-hidden-touch">
                  <div class="field is-grouped">
                    <p class="control">
                      <a class="button is-medium is-text has-text-primary">
                        <span class="icon"><i data-feather="search"></i></span>&nbsp;
                      </a>
                    </p>
                  </div>
                </div>
                <div id="search_input_container" class="is-hidden-touch">
                  <form action="{% routablepageurl blog_page 'entries_search' %}" method="get">
                    <div class="field">
                      <div class="control">
                        <input name="q" type="text" placeholder="{% trans 'Type to search' %}" autocomplete="off" class="input is-medium">
                      </div>
                    </div>
                  </form>
                </div>
                <div id="search_input_container_mobile" class="is-hidden-desktop">
                  <form action="{% routablepageurl blog_page 'entries_search' %}" method="get">
                    <div class="field">
                      <div class="control">
                        <input name="q" type="text" placeholder="{% trans 'Type to search' %}" autocomplete="off" class="input is-medium">
                      </div>
                      <button type="submit" class="button is-medium is-text">
                        <span class="icon"><i data-feather="search"></i></span>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
      {% endblock header %}

      {% block content %}
      {% endblock content %}

      {% block footer %}
      <footer id="footer" class="footer">
        <div class="container">
          <div class="content has-text-centered">
            <p class="logo">
              <img src="{% static 'img/logo_white.svg' %}" alt="NotaBanane logo" width="200" />
            </p>
            <p class="social">
              <a href="https://www.instagram.com/notabanane" target="_blank"><i class="fa fa-instagram"></i></a>
              <a href="#" target="_blank"><i class="fa fa-facebook-square"></i></a>
              <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
            </p>
            <p class="copyright">&copy; NotaBanane {% now "Y" %}</p>
          </div>
        </div>
      </footer>
      {% endblock footer %}
    </div>

    <script type="text/javascript" src="{% url 'javascript_catalog' %}"></script>

    {% block js %}
    <script type="text/javascript" src="{{ WEBPACK_DEV_SERVER_URL|default:'' }}{% static 'js/App.js' %}"></script>
    {% endblock js %}

    {% block extra_js %}
    {% endblock extra_js %}
  </body>
</html>
