{% load i18n %}
{% load static %}
{% load wagtailcore_tags %}

<!DOCTYPE html>
<html {% get_current_language as LANGUAGE_CODE %}lang="{{ LANGUAGE_CODE }}">
  <head>
    {% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0">
    <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %} &dash; NotaBanane{% endblock %}</title>
    <meta name="created" content="{% now "jS M Y h:i" %}" />
    <meta name="description" content="{% block meta_description %}{% endblock meta_description %}" />
    <meta name="keywords" content="{% block meta_keywords %}{% endblock meta_keywords %}"/>
    {% endblock head %}

    {% block css %}
    {% if not WEBPACK_DEV_SERVER_URL %}<link rel="stylesheet" type="text/css" href="{% static 'css/App.css' %}" />{% endif %}
    {% endblock css %}

    {% block extra_css %}
    {% endblock extra_css %}
  </head>
  <body
      id="{% block body_id %}id_body{% endblock body_id %}"
      class="{% block body_class %}{% endblock %}"
      data-controller="{% block data_controller %}{% endblock data_controller %}"
      data-action="{% block data_action %}{% endblock data_action %}"
      >
    <div id="id_wrap">
      {% block header %}
      <div class="container is-fluid">
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="{% slugurl 'nota-banane' %}">
              <img src="{% static 'img/logo_black.svg' %}" alt="NotaBanane logo" height="70" />
            </a>
            <div class="navbar-burger">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div id="notabananeNavbar" class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item">{% trans "About" %}</a>
              <a class="navbar-item">{% trans "FAQ" %}</a>
              <a class="navbar-item">{% trans "Contact" %}</a>
            </div>
            <div class="navbar-end">
              <div class="navbar-item">
                <div class="field is-grouped social-links">
                  <p class="control">
                    <a href="" target="_blank"><span class="icon"><i class="fa fa-facebook"></i></span></a>
                    <a href="#" target="_blank"><span class="icon"><i class="fa fa-twitter"></i></span></a>
                    <a href="#" target="_blank"><span class="icon"><i class="fa fa-instagram"></i></span></a>
                    <a href="#" target="_blank"><span class="icon"><i class="fa fa-pinterest"></i></span></a>
                  </p>
                </div>
              </div>
              <div class="navbar-item">
                <div class="field is-grouped">
                  <p class="control">
                    <a class="button is-primary">
                      <span class="icon"><i class="fa fa-search"></i></span>&nbsp;
                      <span>{% trans "Search" %}</span>
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </nav>

        {% comment %}
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="nav-left">
            <a href="/" class="nav-item"><img src="http://bulma.io/images/bulma-logo.png" alt="Bulma logo"></a>
            <a class="nav-item">{% trans "About" %}</a>
            <a class="nav-item">{% trans "FAQ" %}</a>
            <a class="nav-item">{% trans "Contact" %}</a>
          </div>
          <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
          <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
          </span>
          <!-- This "nav-menu" is hidden on mobile -->
          <div class="nav-right nav-menu">

          </div>
        </nav>
        {% endcomment %}
      </div>
      {% endblock header %}

      {% block content %}
      {% endblock content %}

      {% block footer %}
      <footer class="footer">
        <div class="container">
          <div class="content has-text-centered">
            <p class="logo">
              <img src="{% static 'img/logo_white.svg' %}" alt="NotaBanane logo" width="200" />
            </p>
            <p class="social">
              <a href="" target="_blank"><i class="fa fa-facebook"></i></a>
              <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
              <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
              <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
            </p>
            <p class="copyright">&copy; NotaBanane {% now "Y" %}</p>
          </div>
        </div>
      </footer>
      {% endblock footer %}
    </div>

    <script type="text/javascript" src="{% url 'javascript_catalog' %}"></script>

    {% block js %}
    <script type="text/javascript" src="{{ WEBPACK_DEV_SERVER_URL|default:'' }}{% static 'js/App.js' %}"></script>
    {% endblock js %}

    {% block extra_js %}
    {% endblock extra_js %}
  </body>
</html>
