{% extends "base.html" %}
{% load i18n %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailroutablepage_tags %}

{% block page_title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock page_title %}
{% block meta_description %}{% if self.search_description %}{{ self.search_description }}{% else %}{{ page.body|striptags|truncatechars:150 }}{% endif %}{% endblock meta_description %}
{% block extra_open_graph_tags %}
{% image page.header_image fill-1200x630 as og_image %}
<meta content="{{ og_image.url }}" property="og:image" />
{% endblock extra_open_graph_tags %}

{% block body_id %}id_blog_entry{% endblock body_id %}

{% block content %}
{% image page.header_image fill-1920x574-c100 as header_image %}
{% image page.header_image fill-500x326 as header_image_mobile %}
<section id="entry_header" class="hero is-medium is-info is-bold">
  <div class="bg is-hidden-mobile" style="background-image:url({{ header_image.url }});"></div>
  <div class="bg is-hidden-tablet" style="background-image:url({{ header_image_mobile.url }});"></div>
  <div class="fill-opacity"></div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="header-content-wrapper">
        <h1 class="title">{{ page.title }}</h1>
        <div class="subtitle"><small>{{ page.owner.first_name|default:page.owner.username }} | {{ page.date|date:"SHORT_DATE_FORMAT" }}</small></div>
      </div>
    </div>
  </div>
</section>
<section id="entry_body" class="section">
  <div id="share_this_post">
    {% include "blog/partials/entry_share_buttons.html" %}
  </div>
  <div class="container is-widescreen">
    <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">
        <div class="content body">
          {{ page.body|richtext }}
        </div>
      </div>
    </div>
  </div>
  <div id="share_this_post_mobile" class="is-hidden-tablet">
    {% include "blog/partials/entry_share_buttons.html" %}
  </div>
</section>
{% endblock content %}
