{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailroutablepage_tags %}

{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock title %}

{% block body_id %}id_blog_index{% endblock body_id %}
{% block body_class %}{% if not self.is_search %}notsearch{% endif %}{% endblock %}

{% block navbar_brand_logo_src %}{% if not self.is_search %}{% static 'img/logo_white.svg' %}{% else %}{% static 'img/logo_cranberry.svg' %}{% endif %}{% endblock %}

{% block content %}
{% if not self.is_search %}
<section id="blog_hero" class="hero is-medium is-info is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
        <img src="{% static 'img/logo_fulltext_white.svg' %}" alt="NotaBanane logo" width="500" />
    </div>
  </div>
</section>
<section id="category_menu_section">
  <div class="container">
    <div class="tabs is-medium">
      <ul>
        <li{% if filter_type is None %} class="is-active"{% endif %}><a href="{% routablepageurl self 'entries_list' %}">{% trans "Most recent" %}</a></li>
        {% for category in categories %}
        <li{% if filter_type == 'category' and filter_value == category.slug %} class="is-active"{% endif %}><a href="{% routablepageurl self 'entries_by_category' category.slug %}">{{ category.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
{% else %}
<section id="search_header_section" class="hero is-success is-bold">
  <div class="fill-opacity"></div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="title">{% trans "Your search" %}</div>
      <div class="subtitle">
        {% blocktrans trimmed with search_query=self.search_query count results_count=self.entries.count %}
        {{ results_count }} result for <strong>{{ search_query }}</strong>
        {% plural %}
        {{ results_count }} results for <strong>{{ search_query }}</strong>
        {% endblocktrans %}
      </div>
    </div>
  </div>
</section>
{% endif %}
{% if self.filter_type == 'category' or self.is_search %}
<section id="post_list" class="section">
    <div class="container">
      <div class="columns is-multiline">
        {% for post in blogpages %}
        <div class="column is-one-third">
          <a href="{% pageurl post %}" class="post-box">
            {% if post.header_image %}
            <span class="image-wrapper">
              <figure class="image">{% image post.header_image fill-555x312 %}</figure>
            </span>
            {% endif %}
            <span class="content-wrapper">
              <span class="post-date">{{ post.date|date:"SHORT_DATE_FORMAT" }}</span>
              <span class="post-title">{{ post.title }}</span>
            </span>
          </a>
        </div>
        {% empty %}
        {% if not self.is_search %}
        {% else %}
        <div class="content is-large">
          <p>{% trans "Sorry, no posts were found. Try searching for something else!" %}</p>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      {% if blogpages.has_previous or blogpages.has_next %}
      <div class="columns">
        <div class="column has-text-centered">
          {% if blogpages.has_previous %}
          <a href="?page={{ blogpages.previous_page_number }}" class="button is-info">{% trans "Newer articles" %}</a>
          {% endif %}
          {% if blogpages.has_next %}
          <a href="?page={{ blogpages.next_page_number }}" class="button is-info">{% trans "Older articles" %}</a>
          {% endif %}
        </div>
      </div>
      {% endif %}
    </div>
  </section>
{% else %}
<section id="post_list" class="section">
  <div class="container">
    <div class="tile is-ancestor">
      {% for post in blogpages %}
      {% if forloop.counter0 == 0 %}
      <div class="tile is-parent is-8">{% image post.header_image fill-888x613 as post_image %}
        <div class="tile is-child" style="background-image:url({{ post_image.url }});">
          <a href="{% pageurl post %}" class="post-box is-featured">
            <span class="content-wrapper">
              <span class="post-date">{{ post.date|date:"SHORT_DATE_FORMAT" }}</span>
              <span class="post-title">{{ post.title }}</span>
            </span>
          </a>
        </div>
      </div>
      {% elif forloop.counter0 == 1 %}
      <div class="tile is-4 is-vertical is-parent">{% image post.header_image fill-555x312 as post_image %}
        <div class="tile is-child" style="background-image:url({{ post_image.url }});">
          <a href="{% pageurl post %}" class="post-box is-top-twin">
            <span class="content-wrapper">
              <span class="post-date">{{ post.date|date:"SHORT_DATE_FORMAT" }}</span>
              <span class="post-title">{{ post.title }}</span>
            </span>
          </a>
        </div>
      {% if forloop.last %}</div>{% endif %}
      {% elif forloop.counter0 == 2 %}
      {% image post.header_image fill-555x312 as post_image %}
        <div class="tile is-child" style="background-image:url({{ post_image.url }});">
          <a href="{% pageurl post %}" class="post-box is-top-twin">
            <span class="content-wrapper">
              <span class="post-date">{{ post.date|date:"SHORT_DATE_FORMAT" }}</span>
              <span class="post-title">{{ post.title }}</span>
            </span>
          </a>
        </div>
      </div>
      {% else %}
      {% endif %}
      {% endfor %}
    </div>
    <h2 class="is-size-2">{% trans "Last recipes " %}</h2>
    <div class="columns is-multiline">
      {% for post in blogpages %}
      <div class="column is-one-third">
        <a href="{% pageurl post %}" class="post-box">
          {% if post.header_image %}
          <span class="image-wrapper">
            <figure class="image">{% image post.header_image fill-555x312 %}</figure>
          </span>
          {% endif %}
          <span class="content-wrapper">
            <span class="post-date">{{ post.date|date:"SHORT_DATE_FORMAT" }}</span>
            <span class="post-title">{{ post.title }}</span>
          </span>
        </a>
      </div>
      {% empty %}
      {% if not self.is_search %}
      {% else %}
      <div class="content is-large">
        <p>{% trans "Sorry, no posts were found. Try searching for something else!" %}</p>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}
{% endblock content %}
