{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailroutablepage_tags %}

{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock title %}
{% block meta_description %}{% if self.seo_description %}{{ self.seo_description }}{% else %}{{ self.description }}{% endif %}{% endblock meta_description %}

{% block body_id %}id_blog_index{% endblock body_id %}
{% block body_class %}{% if not self.filter_type == 'search' %}notsearch{% endif %}{% endblock %}

{% block navbar_brand_logo_src %}{% if not self.filter_type == 'search' %}{% static 'img/logo_white.svg' %}{% else %}{% static 'img/logo_cranberry.svg' %}{% endif %}{% endblock %}

{% block content %}
{% if not self.filter_type == 'search' %}
<section id="blog_hero" class="hero is-medium is-info is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
        <div><img src="{% static 'img/logo_fulltext_white.svg' %}" alt="NotaBanane logo" width="500" /></div>
        <p class="subtitle">{% trans "Healthy recipes for real life adventurers" %}</p>
    </div>
  </div>
</section>
<section id="category_menu_section">
  <div class="container">
    <div class="tabs is-medium">
      <ul>
        <li{% if filter_type is None %} class="is-active"{% endif %}><a href="{% routablepageurl self 'entries_list' %}">{% trans "Home" %}</a></li>
        <li{% if filter_type == 'pagetype' and filter_value == 'recipe' %} class="is-active"{% endif %}><a href="{% routablepageurl self 'recipes_list' %}">{% trans "Recipes" %}</a></li>
        <li{% if filter_type == 'pagetype' and filter_value == 'article' %} class="is-active"{% endif %}><a href="{% routablepageurl self 'articles_list' %}">{% trans "Articles" %}</a></li>
        {% for category in categories %}
        <li{% if filter_type == 'category' and filter_value == category.slug %} class="is-active"{% endif %}><a href="{% routablepageurl self 'entries_by_category' category.slug %}">{{ category.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
{% else %}
<section id="search_header_section" class="hero is-success is-bold">
  <div class="fill-opacity"></div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="title">{% trans "Your search" %}</div>
      <div class="subtitle">
        {% blocktrans trimmed with search_query=self.search_query count results_count=self.entries.count %}
        {{ results_count }} result for <strong>{{ search_query }}</strong>
        {% plural %}
        {{ results_count }} results for <strong>{{ search_query }}</strong>
        {% endblocktrans %}
      </div>
    </div>
  </div>
</section>
{% endif %}
{% if self.filter_type == 'category' or self.filter_type == 'search' or self.filter_type == 'pagetype' %}
<section id="post_list" class="section">
  <div class="container">
    <div class="columns is-multiline">
      {% for post in paginated_entries %}
      {% with post=post.specific %}
      <div class="column is-one-third">
        <a href="{% pageurl post %}" class="post-box">
          {% if post.header_image %}
          <span class="image-wrapper">
            <figure class="image">{% image post.header_image fill-555x312 %}</figure>
          </span>
          {% endif %}
          <span class="content-wrapper">
            <span class="post-date">{{ post.date|date:"SHORT_DATE_FORMAT" }}</span>
            <span class="post-title">{{ post.title }}</span>
          </span>
        </a>
      </div>
      {% endwith %}
      {% empty %}
      {% if self.filter_type == 'search' %}
      <div class="content is-large">
        <p>{% trans "Sorry, no posts were found. Try searching for something else!" %}</p>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% if paginated_entries.has_previous or paginated_entries.has_next %}
    <div class="columns">
      <div class="column">
        {% if paginated_entries.has_previous %}
        <a href="?page={{ paginated_entries.previous_page_number }}" class="button is-text">{% trans "Newer articles" %}</a>
        {% endif %}
        {% if paginated_entries.has_next %}
        <a href="?page={{ paginated_entries.next_page_number }}" class="button is-text">{% trans "Older articles" %}</a>
        {% endif %}
      </div>
    </div>
    {% endif %}
  </div>
</section>
{% else %}
<section id="post_list" class="section">
  <div class="container">
    <div class="latest-entries">
      <h2 class="is-size-2">{% trans "Latest recipes " %}</h2>
      {% for post in self.latest_recipes %}
      {% if forloop.counter0 == 0 %}
      <div class="tile is-ancestor">
        <div class="tile is-parent is-8">{% image post.header_image fill-888x613 as post_image %}
          <div class="tile is-child" style="background-image:url({{ post_image.url }});">
            <a href="{% pageurl post %}" class="post-box is-featured">
              <span class="content-wrapper">
                <span class="post-date">{{ post.date|date:"SHORT_DATE_FORMAT" }}</span>
                <span class="post-title">{{ post.title }}</span>
              </span>
            </a>
          </div>
        </div>
      {% if forloop.last %}</div>{% endif %}
      {% elif forloop.counter0 == 1 %}
        <div class="tile is-4 is-vertical is-parent">{% image post.header_image fill-555x312 as post_image %}
          <div class="tile is-child" style="background-image:url({{ post_image.url }});">
            <a href="{% pageurl post %}" class="post-box is-top-twin">
              <span class="content-wrapper">
                <span class="post-date">{{ post.date|date:"SHORT_DATE_FORMAT" }}</span>
                <span class="post-title">{{ post.title }}</span>
              </span>
            </a>
          </div>
      {% if forloop.last %}</div></div>{% endif %}
      {% elif forloop.counter0 == 2 %}
      {% image post.header_image fill-555x312 as post_image %}
          <div class="tile is-child" style="background-image:url({{ post_image.url }});">
            <a href="{% pageurl post %}" class="post-box is-top-twin">
              <span class="content-wrapper">
                <span class="post-date">{{ post.date|date:"SHORT_DATE_FORMAT" }}</span>
                <span class="post-title">{{ post.title }}</span>
              </span>
            </a>
          </div>
        </div>
      </div>
      {% else %}
      {% if forloop.counter0 == 3 %}<div class="columns is-multiline">{% endif %}
      <div class="column is-one-third">
        <a href="{% pageurl post %}" class="post-box">
          {% if post.header_image %}
          <span class="image-wrapper">
            <figure class="image">{% image post.header_image fill-555x312 %}</figure>
          </span>
          {% endif %}
          <span class="content-wrapper">
            <span class="post-date">{{ post.date|date:"SHORT_DATE_FORMAT" }}</span>
            <span class="post-title">{{ post.title }}</span>
          </span>
        </a>
      </div>
      {% if forloop.last %}</div>{% endif %}
      {% endif %}
      {% endfor %}
      {% if self.get_recipes.count > 6 %}
      <div class="content has-text-right">
        <a href="{% routablepageurl blog_page 'recipes_list' %}" class="button is-primary">{% trans "View all" %} <i data-feather="chevron-right"></i></a>
      </div>
      {% endif %}
    </div>
    <div class="latest-entries">
      <h2 class="is-size-2">{% trans "Latest articles " %}</h2>
      <div class="columns is-multiline">
        {% for post in self.latest_articles %}
        <div class="column is-one-third">
          <a href="{% pageurl post %}" class="post-box">
            {% if post.header_image %}
            <span class="image-wrapper">
              <figure class="image">{% image post.header_image fill-555x312 %}</figure>
            </span>
            {% endif %}
            <span class="content-wrapper">
              <span class="post-date">{{ post.date|date:"SHORT_DATE_FORMAT" }}</span>
              <span class="post-title">{{ post.title }}</span>
            </span>
          </a>
        </div>
        {% endfor %}
      </div>
      {% if self.get_articles.count > 3 %}
      <div class="content has-text-right">
        <a href="{% routablepageurl blog_page 'articles_list' %}" class="button is-primary">{% trans "View all" %} <i data-feather="chevron-right"></i></a>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endif %}
{% endblock content %}
