{% extends "base.html" %}
{% load i18n %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailroutablepage_tags %}

{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock title %}

{% block body_id %}id_blog_entry{% endblock body_id %}

{% block content %}
{% image page.header_image fill-1200x350-c100 as header_image %}
<section id="entry_header" class="hero is-medium is-info is-bold" style="background-image:url({{ header_image.url }});">
  <div class="fill-opacity"></div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="header-content-wrapper">
        <h1 class="title">{{ page.title }}</h1>
        <div class="subtitle"><small>{{ page.owner.first_name|default:page.owner.username }} | {{ page.date|date:"SHORT_DATE_FORMAT" }}</small></div>
      </div>
    </div>
  </div>
</section>
<section id="entry_body" class="section">
  <div id="share_this_post">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-pinterest"></i></a>
    <a href="#"><i class="fa fa-envelope"></i></a>
  </div>
  <div class="container is-widescreen">
    <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">
        <div class="content">
          {{ page.introduction|richtext }}
        </div>
      </div>
    </div>
  </div>
</section>
<section id="entry_recipe" class="section">
  <div class="container is-widescreen">
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <div class="content">
          <h2>{{ page.title}}</h2>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4 is-offset-1">
        <div class="recipe-general-info-and-ingredients-wrapper">
          <div class="recipe-image">
            <img src="{% image page.header_image fill-662x457-c100 as recipe_image %}{{ recipe_image.url }}" alt="" />
          </div>
          <div class="content">
            <div class="recipe-meta-information">
              {% if page.recipe_yield %}
              <p>{% blocktrans trimmed with yield=page.recipe_yield %}For: {{ yield }}{% endblocktrans %}</p>
              {% endif %}
              {% if page.preparation_time %}
              <p>{% blocktrans trimmed with time=page.preparation_time %}Preparation: {{ time }}{% endblocktrans %}</p>
              {% endif %}
              {% if page.cook_time %}
              <p>{% blocktrans trimmed with time=page.cook_time %}Cook: {{ time }}{% endblocktrans %}</p>
              {% endif %}
              {% if page.fridge_time %}
              <p>{% blocktrans trimmed with time=page.fridge_time %}Fridge: {{ time }}{% endblocktrans %}</p>
              {% endif %}
              {% if page.rest_time %}
              <p>{% blocktrans trimmed with time=page.rest_time %}Rest: {{ time }}{% endblocktrans %}</p>
              {% endif %}
            </div>
            <h3>{% trans "Ingredients" %}</h3>
            <div class="recipe-ingredients">
              {% for ingredients_section in page.ingredients_sections.all %}
              {% if forloop.first and not forloop.last or not forloop.first and forloop.last or not forloop.first and not forloop.last %}
              <h4>{{ ingredients_section.label }}</h4>
              {% endif %}
              <ul>
                {% for ingredient in ingredients_section.ingredients_list %}
                <li>{{ ingredient }}</li>
                {% endfor %}
              </ul>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="column is-6">
        <div class="content preparation">
          <h3>{% trans "Preparation" %}</h3>
          {% for instructions_section in page.instructions_sections.all %}
          {% if forloop.first and not forloop.last or not forloop.first and forloop.last or not forloop.first and not forloop.last %}
          <h4>{{ instructions_section.label }}</h4>
          {% endif %}
          <ol>
            {% for instruction in instructions_section.instructions_list %}
            <li>{{ instruction }}</li>
            {% endfor %}
          </ol>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
