{% extends "base.html" %}
{% load i18n %}
{% load common_duration_tags %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailroutablepage_tags %}

{% block page_title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock page_title %}
{% block meta_description %}{% if self.search_description %}{{ self.search_description }}{% else %}{{ page.introduction|striptags|truncatechars:150 }}{% endif %}{% endblock meta_description %}
{% block extra_open_graph_tags %}
<meta property="og:type" content="article" />
<meta content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}" property="og:title" />
<meta content="{% if self.search_description %}{{ self.search_description }}{% else %}{{ page.introduction|striptags|truncatechars:150 }}{% endif %}" property="og:description" />
{% image page.header_image fill-1200x630 as og_image %}
<meta content="{{ og_image.url }}" property="og:image" />
{% endblock extra_open_graph_tags %}
{% block extra_structured_data %}
{% image page.header_image fill-1920x574-c100 as structured_data_image %}
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Recipe",
  "name": "{{ self.seo_title|default:self.title }}",
  "author": "{{ page.owner.first_name|default:page.owner.username }}",
  "image": "{{ structured_data_image.url }}",
  "description": "{% if self.search_description %}{{ self.search_description }}{% else %}{{ page.introduction|striptags|truncatechars:150 }}{% endif %}"
}
</script>
{% endblock extra_structured_data %}

{% block body_id %}id_blog_entry{% endblock body_id %}

{% block content %}
{% image page.header_image fill-1920x574-c100 as header_image %}
{% image page.header_image fill-500x326 as header_image_mobile %}
<section id="entry_header" class="hero is-medium is-info is-bold">
  <div class="bg is-hidden-mobile" style="background-image:url({{ header_image.url }});"></div>
  <div class="bg is-hidden-tablet" style="background-image:url({{ header_image_mobile.url }});"></div>
  <div class="fill-opacity"></div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="header-content-wrapper">
        <h1 class="title">{{ page.title }}</h1>
        <div class="subtitle"><small>{{ page.owner.first_name|default:page.owner.username }} | {{ page.date|date:"SHORT_DATE_FORMAT" }}</small></div>
      </div>
    </div>
  </div>
</section>
<section id="entry_body" class="section">
  <div id="share_this_post">
    {% include "blog/partials/entry_share_buttons.html" %}
  </div>
  <div class="container is-widescreen">
    <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">
        <div class="content dish-types">
          <p class="has-text-grey-light">{% for dish_type in page.verbose_dish_types %}{{ dish_type }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
        </div>
        <div class="content introduction">
          {{ page.introduction|richtext }}
        </div>
      </div>
    </div>
  </div>
  <div id="entry_recipe" class="container is-widescreen">
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <div class="content">
          <h2>{{ page.title}}</h2>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4 is-offset-1">
        <div class="recipe-general-info-and-ingredients-wrapper">
          <div class="recipe-image">
            <img src="{% image page.header_image fill-662x457-c100 as recipe_image %}{{ recipe_image.url }}" alt="" />
          </div>
          <div class="content">
            <div class="recipe-meta-information">
              {% if page.recipe_yield %}
              <p>{% blocktrans trimmed with yield=page.recipe_yield %}For: {{ yield }}{% endblocktrans %}</p>
              {% endif %}
              {% if page.preparation_time %}
              <p>{% blocktrans trimmed with time=page.preparation_time|duration %}Preparation: {{ time }}{% endblocktrans %}</p>
              {% endif %}
              {% if page.cook_time %}
              <p>{% blocktrans trimmed with time=page.cook_time|duration %}Cook: {{ time }}{% endblocktrans %}</p>
              {% endif %}
              {% if page.fridge_time %}
              <p>{% blocktrans trimmed with time=page.fridge_time|duration %}Fridge: {{ time }}{% endblocktrans %}</p>
              {% endif %}
              {% if page.rest_time %}
              <p>{% blocktrans trimmed with time=page.rest_time|duration %}Rest: {{ time }}{% endblocktrans %}</p>
              {% endif %}
            </div>
            <h3>{% trans "Ingredients" %}</h3>
            <div class="recipe-ingredients">
              {% for ingredients_section in page.ingredients_sections.all %}
              {% if forloop.first and not forloop.last or not forloop.first and forloop.last or not forloop.first and not forloop.last %}
              <h4>{{ ingredients_section.label }}</h4>
              {% endif %}
              <ul>
                {% for ingredient in ingredients_section.ingredients_list %}
                <li>{{ ingredient }}</li>
                {% endfor %}
              </ul>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="column is-6">
        <div class="content preparation">
          <h3>{% trans "Preparation" %}</h3>
          {% for instructions_section in page.instructions_sections.all %}
          {% if forloop.first and not forloop.last or not forloop.first and forloop.last or not forloop.first and not forloop.last %}
          <h4>{{ instructions_section.label }}</h4>
          {% endif %}
          <ol>
            {% for instruction in instructions_section.instructions_list %}
            <li>{{ instruction }}</li>
            {% endfor %}
          </ol>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div id="share_this_post_mobile" class="is-hidden-tablet">
    {% include "blog/partials/entry_share_buttons.html" %}
  </div>
</section>
{% endblock content %}
