{% extends "base.html" %}
{% load i18n %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock title %}

{% block body_id %}id_blog_index{% endblock body_id %}

{% block content %}
{% if featured_article %}
{% if featured_article.header_image %}{% image featured_article.header_image fill-1200x350 as header_image %}{% else %}{% image page.header_image fill-1200x350 as header_image %}{% endif %}
<section id="featured_article_section" class="hero is-medium is-info is-bold" style="background-image:url({{ header_image.url }});">
  <div class="fill-opacity"></div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <a href="{% pageurl featured_article %}">
        <span class="subtitle"><small>{% trans "Featured article" %}</small></span>
        <span class="title">{{ featured_article.title }}</span>
      </a>
    </div>
  </div>
</section>
{% endif %}
<section id="category_menu_section">
  <div class="container">
    <div class="tabs is-medium">
      <ul>
        <li class="is-active"><a>{% trans "Most recent" %}</a></li>
        <li><a>Music</a></li>
        <li><a>Videos</a></li>
        <li><a>Documents</a></li>
      </ul>
    </div>
  </div>
</section>
<section id="post_list" class="container">
  <div class="columns is-multiline">
    {% for post in blogpages %}
    <div class="column is-one-third">
      <a href="{% pageurl post %}" class="post-box">
        {% if post.header_image %}
        <span class="image-wrapper">
          <figure class="image">{% image post.header_image fill-370x208 %}</figure>
        </span>
        {% endif %}
        <span class="content-wrapper">
          <span class="post-date">{{ post.date|date:"SHORT_DATE_FORMAT" }}</span>
          <span class="post-title">{{ post.title }}</span>
        </span>
      </a>
    </div>
    {% endfor %}
  </div>
  <div class="columns">
    <div class="column has-text-centered">
      {% if blogpages.has_previous %}
      <a href="?page={{ blogpages.previous_page_number }}" class="button is-info">{% trans "Newer articles" %}</a>
      {% endif %}
      {% if blogpages.has_next %}
      <a href="?page={{ blogpages.next_page_number }}" class="button is-info">{% trans "Older articles" %}</a>
      {% endif %}
    </div>
  </div>
</section>
{% endblock content %}
