//
// Blog index page styles
// --------------------------------------------------


body#id_blog_index {
  &.notsearch {
    #navbar_wrapper {
      nav.navbar {
        position: absolute;
        width: 100%;
        background: transparent;

        a.navbar-item, a.navbar-link {
          color: $white;

          &:hover, &:focus {
            color: $grey-lighter;
          }
        }

        div.navbar-dropdown.recipes-dropdown {
          @include rounded(4px);
        }

        .social-links {
          a {
            color: $white;

            &:hover, &:focus {
              color: $grey-lighter;
            }
          }
        }

        #search_toggler_wrapper {
          a.button {
            color: $white !important;

            &:hover, &:focus {
              color: $grey-lighter !important;
            }

            &.on {
              color: $primary !important;
            }
          }
        }

        #search_input_container_mobile {
          .icon {
            margin-right: 0;
          }
        }

        @include until($desktop) {
          .navbar-burger {
            color: $white;
          }
        }
      }
    }
  }

  section#blog_hero {
    position: relative;
    background-image: url('../img/blog_hero_background.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    .hero-body {
      position: relative;
      z-index: 2;
      padding-top: 8rem;
      padding-bottom: 4rem;

      .subtitle {
        font-family: IndieFlower;
        font-size: 1.5rem;
        font-weight: bold;

        @include until($tablet) {
          font-size: 1.35rem;
        }
      }
    }
  }

  div#category_menu {
    padding-top: 0.35rem;
    margin-bottom: 1.5em;
    background-color: $harvestGlod;

    .tabs {
      ul {
        border: none;

        li {
          border: none;
          font-size: 1rem;
          font-weight: 500;

          &.is-active {
            border: none;
            background: $white;

            a {
              color: $primary;
            }
          }

          a {
            margin-bottom: 0;
            padding: 1.2em;
            border: none;
            color: $saltpan;
          }
        }
      }
    }
  }

  section#search_header_section {
    background: $harvestGlod;
  }

  div#recipe_search_engine {
    position: relative;

    div#search_filters {
      h4 {
        position: relative;
        margin-top: 1rem;
        margin-bottom: 0.5rem;

        &:before {
          position: absolute;
          z-index: -1;
          top: -0.15rem;
          left: -0.25rem;
          width: 25%;
          height: 1rem;
          background: $harvestGlod;
          display: inline-block;
          content: '';
          transform: rotate(-2deg);
          opacity: 0.5;
        }

        &:first-child {
          margin-top: 0;
        }
      }
    }

    div#search_results {
      position: relative;

      &.fetching {
        div#search_results_fetching {
          visibility: visible;
          opacity: 1;
        }
      }

      div#search_results_fetching{
        visibility: hidden;
        opacity: 0;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.7);
        @include transition(0.25s, ease-in-out);
      }

      nav.pagination {
        &.no-direction-available {
          a {
            opacity: 0;
          }
        }

        div.pagination-list {
          padding: 0 0.25rem;
        }
      }
    }

    @include mobile {
      margin-top: -1.5rem;

      &.filters-on {
        div#toggle_mobile_filters_wrapper {
          position: sticky;
          z-index: 1;
          top: 0;
          background-color: $white;
        }

        div#search_filters {
          display: block;
        }

        div#search_results {
          display: none;
        }
      }

      div#toggle_mobile_filters_wrapper {
        padding-top: 1.5rem;

        button {
          margin-bottom: 2rem;
          display: block;
          width: 100%;

          i {
            display: inline-block;
            margin-right: 0.5rem;
          }
        }
      }

      div#search_filters {
        display: none;
      }
    }
  }

  div.post-list {
    div.tile {
      position: relative;
      @include rounded(4px);

      span.bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    div.latest-entries {
      margin-bottom: 3rem;

      h2 {
        margin-bottom: 1rem;
      }

      div.tile {
        background-position: center;
      }

      .button{
        &.view-all {
          svg {
            margin-top: 2px;
          }
        }
      }
    }

    div.latest-article-wrapper {
      margin-bottom: 3rem;

      h2 {
        margin-bottom: 1rem;
      }

      a.latest-article {
        margin-bottom: 0.75rem;
        display: block;
        text-align: center;

        &:hover, &:focus {
          .image-wrapper {
            img {
              box-shadow: 0 10px 15px -10px rgba(30,45,62,.21),0 5px 40px -10px rgba(31,44,60,.1);
            }
          }

          .content-wrapper {
            .post-date {
              &:before {
                left: -5rem;
                width: 4rem;
              }

              &:after {
                right: -5rem;
                width: 4rem;
              }
            }
          }
        }

        .columns {
          margin-bottom: 0.75rem;
          display: flex;
        }

        .image-wrapper {
          img {
            @include transition(0.15s, ease-out);
            @include rounded(4px);
          }
        }

        .content-wrapper {
          padding: 0.75rem 3.5rem;

          .post-title {
            margin-top: 1.25rem;
            margin-bottom: 2rem;
            display: block;
            color: $ferra;
            font-family: IndieFlower;
            font-size: 2.25rem;
            line-height: 2.25rem;
            font-weight: bold;
          }

          .post-date {
            position: relative;
            display: inline-block;
            font-size: 1rem;
            font-weight: 500;
            text-transform: uppercase;
            color: $grey-light;

            &:before {
              background: $grey-light;
              content: "";
              height: 1px;
              position: absolute;
              top: 0.58rem;
              left: -3rem;
              width: 2rem;
              @include transition(0.2s, ease-in-out);
            }

            &:after {
              margin-left: 0.5rem;
              background: $grey-light;
              content: "";
              height: 1px;
              position: absolute;
              top: 0.58rem;
              right: -3rem;
              width: 2rem;
              @include transition(0.2s, ease-in-out);
            }
          }

          .post-truncated-body {
            color: $grey;
          }
        }
      }

      @include widescreen-only {
        a.latest-article {
          .content-wrapper {
            .post-title {
              margin-bottom: 1rem;
              font-size: 1.8rem;
              line-height: 1.8rem;
            }
          }
        }
      }

      @include until($widescreen) {
        a.latest-article {
          .content-wrapper {
            padding: 0.75rem 2rem;

            .post-date {
              font-size: 0.8rem;
            }

            .post-title {
              margin-top: 0.75rem;
              margin-bottom: 1rem;
              font-size: 1.5rem;
              line-height: 1.5rem;
            }
          }
        }
      }

      @include mobile {
        a.latest-article {
          .image-wrapper {
            img {
              display: block;
              width: 100%;
              height: 100%;
            }
          }

          .content-wrapper {
            padding: 0.75rem;
          }
        }
      }
    }

    a.post-box {
      position: relative;
      display: block;
      overflow: hidden;
      @include rounded(4px);
      @include transition(0.15s, ease-out);

      &:hover, &:focus {
        box-shadow: 0 10px 15px -10px rgba(30,45,62,.21),0 5px 40px -10px rgba(31,44,60,.1);

        span.content-wrapper {
          .post-date {
            &:before {
              left: -5rem;
              width: 4rem;
            }

            &:after {
              right: -5rem;
              width: 4rem;
            }
          }
        }
      }

      &.is-featured {
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);

        span.content-wrapper {
          margin: 0 1.5rem;
          margin-top: 25%;
          height: 12rem;
          background: transparent;

          .post-date, .post-title {
            color: $white;
          }

          .post-date {
            font-size: 1rem;

            &:before, &:after {
              background-color: $white;
            }
          }

          .post-title {
            margin-top: 1.25rem;
            font-size: 2.25rem;
            line-height: 2.25rem;
          }
        }


        @include until($tablet) {
          span.image-wrapper {
            display: block;

            img {
              display: block;
              width: 100%;
              height: 100%;
            }
          }

          span.content-wrapper {
            position: relative;
            margin: 0;
            padding: 1.5rem 0.5rem;
            display: block;
            height: 9rem;
            background: lighten($grey-lighter, 10%);
            text-align: center;
            color: $ferra;
            @include transition(0.5s, ease-out);

            .post-date {
              position: relative;
              display: inline-block;
              font-size: 0.8rem;
              font-weight: 500;
              text-transform: uppercase;
              color: $grey-light;

              &:before {
                background: $grey-light;
                content: "";
                height: 1px;
                position: absolute;
                top: 0.58rem;
                left: -3rem;
                width: 2rem;
                @include transition(0.2s, ease-in-out);
              }

              &:after {
                margin-left: 0.5rem;
                background: $grey-light;
                content: "";
                height: 1px;
                position: absolute;
                top: 0.58rem;
                right: -3rem;
                width: 2rem;
                @include transition(0.2s, ease-in-out);
              }
            }

            .post-title {
              margin-top: 0.75rem;
              padding: 0 0.2rem;
              display: block;
              color: $ferra;
              font-family: IndieFlower;
              font-size: 1.5rem;
              font-weight: bold;
              line-height: 1.8rem;
            }
          }
        }
      }

      &.is-top-twin {
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);

        &:hover, &:focus {
          span.content-wrapper {
            .post-date {
              &:before {
                left: -5rem;
                width: 4rem;
              }

              &:after {
                right: -5rem;
                width: 4rem;
              }
            }
          }
        }

        span.content-wrapper {
          margin: 5rem 0.5rem;
          height: 8rem;
          background: transparent;

          .post-date, .post-title {
            color: $white;
          }

          .post-date {
            &:before, &:after {
              background-color: $white;
            }
          }

          .post-title {
            margin-top: 1.25rem;
          }
        }

        @include until($tablet) {
          span.image-wrapper {
            display: block;

            img {
              display: block;
              width: 100%;
              height: 100%;
            }
          }

          span.content-wrapper {
            position: relative;
            margin: 0;
            padding: 1.5rem 0.5rem;
            display: block;
            height: 9rem;
            background: lighten($grey-lighter, 10%);
            text-align: center;
            color: $ferra;
            @include transition(0.5s, ease-out);

            .post-date {
              position: relative;
              display: inline-block;
              font-size: 0.8rem;
              font-weight: 500;
              text-transform: uppercase;
              color: $grey-light;

              &:before {
                background: $grey-light;
                content: "";
                height: 1px;
                position: absolute;
                top: 0.58rem;
                left: -3rem;
                width: 2rem;
                @include transition(0.2s, ease-in-out);
              }

              &:after {
                margin-left: 0.5rem;
                background: $grey-light;
                content: "";
                height: 1px;
                position: absolute;
                top: 0.58rem;
                right: -3rem;
                width: 2rem;
                @include transition(0.2s, ease-in-out);
              }
            }

            .post-title {
              margin-top: 0.75rem;
              padding: 0 0.2rem;
              display: block;
              color: $ferra;
              font-family: IndieFlower;
              font-size: 1.5rem;
              font-weight: bold;
              line-height: 1.8rem;
            }
          }
        }
      }

      span.image-wrapper {
        display: block;

        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }

      span.content-wrapper {
        position: relative;
        padding: 1.5rem 0.5rem;
        display: block;
        height: 9rem;
        background: lighten($grey-lighter, 10%);
        text-align: center;
        color: $ferra;
        @include transition(0.5s, ease-out);

        .post-date {
          position: relative;
          display: inline-block;
          font-size: 0.8rem;
          font-weight: 500;
          text-transform: uppercase;
          color: $grey-light;

          &:before {
            background: $grey-light;
            content: "";
            height: 1px;
            position: absolute;
            top: 0.58rem;
            left: -3rem;
            width: 2rem;
            @include transition(0.2s, ease-in-out);
          }

          &:after {
            margin-left: 0.5rem;
            background: $grey-light;
            content: "";
            height: 1px;
            position: absolute;
            top: 0.58rem;
            right: -3rem;
            width: 2rem;
            @include transition(0.2s, ease-in-out);
          }
        }

        .post-title {
          margin-top: 0.75rem;
          padding: 0 0.8rem;
          display: block;
          font-family: IndieFlower;
          font-size: 1.5rem;
          font-weight: bold;
          line-height: 1.8rem;

          @include until($tablet) {
            padding: 0 0.2rem;
          }
        }
      }
    }

    .pagination-wrapper {
      margin-top: 1.5rem;

      @include until($tablet) {
        .column {
          text-align: center;

          a {
            margin: 0 auto;
            display: inline-block;
            font-size: 0.9rem !important;
          }
        }
      }
    }

    @include until($tablet) {
      h2 {
        font-size: 2rem !important;
      }
    }
  }

  div.whoami-instagram {
    background-color: lighten($grey-lighter, 10%);
    border-bottom: 0.35rem solid $harvestGlod;

    div.whoami {
      h3 {
        margin-bottom: 1.5rem;
      }

      div.photo {
        margin: 0 auto;
        margin-bottom: 1.5rem;
        width: 150px;
        height: 150px;
        border: 12px solid $harvestGlod;
        @include rounded(50%);

        img {
          margin-top: -1px;
          z-index: 0;
          width: 128px;
          height: 128px;
          @include rounded(50%);
        }
      }

      div.presentation {
        font-size: 1.05rem;
      }
    }

    div.instagram {
      h3 {
        a {
          color: $grey-dark;

          span.instagram-handle {
            position: relative;
            margin-top: 0.5rem;
            font-family: $family-sans-serif;
            font-size: 1.05rem;
            text-shadow: 0 1px 1px $grey-lighter;

            i.fa {
              margin-top: -1px;
              margin-right: 0.35rem;
              font-size: 1.5rem;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}
