//
// Common elements
// --------------------------------------------------


html {
  height: 100%;
}

body {
  @include until($desktop) {
    &.navbar-menu-opened {
      height: 100%;
      overflow: hidden;
    }
  }
}

a {
  @include transition(0.25s, ease-in-out);

  &.button {
    &.is-text {
      text-decoration: none;
    }
  }
}

h1, h2, h3, h4 {
  font-family: IndieFlower;
}

.hero {
  &.is-harvest-gold {
    background: $harvestGlod;

    .title {
      color: $white;
    }
  }
}

div#flash_messages {
  display: none;
}

.noty_bar {
  &.noty_type__success {
    background-color: $success;
  }
}

#id_wrap {
  #navbar_wrapper {
    position: relative;

    nav.navbar {
      height: 5.5rem;

      #search_input_container {
        z-index: 50;
        position: absolute;
        right: 0.4rem;
        width: 0;
        opacity: 0;
        transition: width 0.2s cubic-bezier(0.000, 0.795, 0.000, 1.000), opacity .1s ease-in-out;

        &.on {
          opacity: 1;
          width: 40%;
        }

        form {
          margin-top: 1.25rem;

          input {
            height: 3em;
            font-size: 1rem;
          }
        }
      }

      #search_toggler_wrapper {
        z-index: 51;
        position: relative;

        a {
          &:hover, &:focus {
            background: none;
          }
        }
      }

      .navbar-brand {
        a {
          padding: 0.25rem 1rem;

          img {
            max-height: 2.5rem;
          }
        }
      }

      a.navbar-item {
        background: transparent;
        font-weight: 500;
        color: $grey;

        &:hover, &:focus {
          color: $ferra;
        }
      }

      .navbar-item {
        margin: 1rem 0;
        padding: 0.5rem 1.5rem;
      }

      .social-links {
        a {
          padding-left: 0.25rem;
          padding-right: 0.25rem;
          color: $grey;

          &:hover, &:focus {
            color: $ferra;
          }
        }
      }

      @include until($desktop) {
        $navbar-width: 300px;

        height: auto;

        .navbar-burger {
          margin-top: 0.8rem;
          margin-right: 0.25rem;

          &:hover {
            background: none;
          }

          span {
            width: 20px;
            height: 1.5px;
          }
        }

        .navbar-menu {
          width: $navbar-width;
          flex-grow: unset;
          flex-basis: unset;
          align-items: unset;
          flex-direction: column;
          position: fixed;
          display: block;
          left: 0;
          top: 0;
          background-color: white;
          height: 100%;
          opacity: 0;
          transition: 0.4s;
          transform: translate3d(-$navbar-width, 0px, 0px);
          z-index: 10;
          padding: 0.5rem 1rem;
          box-shadow: 10px 0 20px 10px rgba(0, 0, 0, 0.3);

          &.opened {
            opacity: 1;
            transform: translate3d(0px, 0px, 0px);
          }

          a.navbar-item {
            font-weight: 500 !important;
            color: $grey !important;

            &:hover, &:focus {
              color: $ferra !important;
            }
          }

          .navbar-end {
            .navbar-item {
              position: static !important;
            }
          }

          .social-links {
            position: absolute;
            bottom: 1.5rem;

            a {
              margin-right: 0.5rem;
              display: inline-block;
              font-size: 1.25rem;
              color: $grey !important;

              &:hover, &:focus {
                color: $ferra !important;
              }
            }
          }

          #search_input_container_mobile {
            position: relative;
            padding: 0 1.5rem;

            form {
              margin-top: 1.25rem;

              input {
                height: 3em;
                font-size: 1rem;
              }

              button {
                position: absolute;
                padding: 0.5rem 0.9rem;
                top: 0;
                right: 1.25rem;
                height: auto;
                color: $grey;

                &:hover, &:focus {
                  background: none;
                }
              }
            }
          }
        }
      }
    }
  }

  footer {
    position: relative;
    z-index: 10;
    margin-top: 1.5rem;
    padding: 3rem 1.5rem 3rem;
    background-color: $ferra;
    color: $saltpan;

    p.logo {
      margin-bottom: 2rem;
    }

    p.social {
      a {
        margin: 0 10px;
        display: inline-block;
        font-size: 1.5rem;
        color: $saltpan;
        @include transition(0.5s, ease-in-out);

        &:hover, &:focus {
          color: darken($saltpan, 20%);
        }
      }
    }

    p.copyright {
      font-size: 0.9rem;
      font-weight: 500;
      color: $grey-lighter;
    }
  }
}
