//
// Common elements
// --------------------------------------------------


html {
  height: 100%;
}

a {
  @include transition(0.25s, ease-in-out);
}

h1, h2, h3 {
  font-family: IndieFlower;
}

#id_wrap {
  nav.navbar {
    height: 5.5rem;

    a.navbar-item {
      background: transparent;
      color: $grey;

      &:hover, &:focus {
        color: $ferra;
      }
    }

    .navbar-item {
      margin: 1rem 0;
      padding: 0.5rem 1.5rem;
    }

    .social-links {
      a {
        color: $grey;

        &:hover, &:focus {
          color: $ferra;
        }
      }
    }
  }

  footer {
    margin-top: 1.5rem;
    padding: 3rem 1.5rem 3rem;
    background-color: $ferra;
    color: $saltpan;

    p.logo {
      margin-bottom: 2rem;
    }

    p.social {
      a {
        margin: 0 10px;
        display: inline-block;
        font-size: 1.5rem;
        color: $saltpan;
        @include transition(0.5s, ease-in-out);

        &:hover, &:focus {
          color: darken($saltpan, 20%);
        }
      }
    }

    p.copyright {
      font-size: 0.9rem;
      font-weight: 500;
      color: $grey-lighter;
    }
  }
}
