//
// Variables
// --------------------------------------------------


//== Colors
//

$amethystSmoke:  #A797B8;
$cranberry:       #E55786;
$ectasy:          #F78528;
$ferra:           #67474A;
$harvestGlod:    #E4B476;
$highland:        #7A9560;
$pomegranate:     #F44336;
$saltpan:         #FDFEFD;


//== Bulma variables
//

$background:      $saltpan;
$primary:         $cranberry;
$info:            $ferra;
$success:         $highland;
$warning:         $ectasy;
$danger:          $pomegranate;


//== Typography
//

@font-face {
  font-family: IndieFlower;
  src: url('../fonts/indieflower/IndieFlower.ttf');
  font-weight: normal;
  font-style: normal;
}
