{% load i18n %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailroutablepage_tags %}

<!DOCTYPE html>
<html {% get_current_language as LANGUAGE_CODE %}lang="{{ LANGUAGE_CODE }}">
  <head>
    {% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <title>{% block title %}{% block page_title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock page_title %} - Nota Banane{% endblock %}</title>
    <meta name="created" content="{% now "jS M Y h:i" %}" />
    <link rel="icon" href="{% static 'img/favicon.png' %}" sizes="16x16" type="images/png" />
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicon_120x120.png' %}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicon_152x152.png' %}" />
    <link rel="apple-touch-icon" sizes="167x167" href="{% static 'img/favicon_167x167.png' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon_180x180.png' %}" />
    <meta name="description" content="{% block meta_description %}{% endblock meta_description %}" />
    <meta name="keywords" content="{% block meta_keywords %}{% endblock meta_keywords %}"/>
    <meta name="p:domain_verify" content="{{ PINTEREST_DOMAIN_VERIFICATION_ID }}"/>

    <meta content="Nota Banane" property="og:site_name" />
    <meta content="{{ LANGUAGE_CODE }}" property="og:locale" />
    <meta content="{{ request.scheme|add:'://'|add:request.get_host|add:request.get_full_path }}" property="og:url" />
    {% block extra_open_graph_tags %}
    {% endblock extra_open_graph_tags %}

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "{{ request.scheme|add:'://'|add:request.get_host }}",
        "name": "Nota Banane - {% trans "Healthy recipes for real life adventurers" %}",
        "logo": "{% static 'img/favicon_180x180.png' %}",
        "sameAs": [
          "https://www.instagram.com/notabanane",
          "https://www.facebook.com/Nota-Banane-2193661220853275/",
          "https://www.pinterest.ca/notabanane/"
        ]
      }
    </script>
    {% block extra_structured_data %}
    {% endblock extra_structured_data %}
    {% endblock head %}

    {% block css %}
    {% if not WEBPACK_DEV_SERVER_URL %}<link rel="stylesheet" type="text/css" href="{% static 'css/App.css' %}" />{% endif %}
    {% endblock css %}

    {% block extra_css %}
    {% endblock extra_css %}
  </head>
  <body
      id="{% block body_id %}id_body{% endblock body_id %}"
      class="{% block body_class %}{% endblock %}"
      data-controller="{% block data_controller %}{% endblock data_controller %}"
      data-action="{% block data_action %}{% endblock data_action %}"
      >
    {% include "partials/messages.html" %}
    <div id="id_wrap">
      {% block header %}
      <div id="navbar_wrapper">
        <div class="container is-fluid">
          <nav class="navbar" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="/">
                <img src="{% block navbar_brand_logo_src %}{% static 'img/logo_cranberry.svg' %}{% endblock %}" alt="NotaBanane logo" height="70" />
              </a>
              <div class="navbar-burger">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
            <div id="notabanane_navbar" class="navbar-menu">
              <div class="navbar-start">
                <a href="{% routablepageurl request.site.root_page.specific 'recipes_list' %}" class="navbar-item is-hidden-tablet">{% trans "Recipes" %}</a>
                <a href="{% routablepageurl request.site.root_page.specific 'articles_list' %}" class="navbar-item is-hidden-tablet">{% trans "Articles" %}</a>
                <a href="{% slugurl 'a-propos' %}" class="navbar-item">{% trans "About" %}</a>
                <a href="{% url 'contact' %}" class="navbar-item">{% trans "Contact" %}</a>
              </div>
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="field is-grouped social-links">
                    <p class="control">
                      <a href="https://www.instagram.com/notabanane" target="_blank"><span class="icon"><i class="fa fa-instagram"></i></span></a>
                      <a href="https://www.facebook.com/Nota-Banane-2193661220853275/" target="_blank"><span class="icon"><i class="fa fa-facebook-square"></i></span></a>
                      <a href="https://www.pinterest.ca/notabanane/" target="_blank"><span class="icon"><i class="fa fa-pinterest"></i></span></a>
                      <a href="{% url 'feed' %}" target="_blank"><span class="icon"><i class="fa fa-rss"></i></span></a>
                    </p>
                  </div>
                </div>
                <div id="search_toggler_wrapper" class="navbar-item is-hidden-touch">
                  <div class="field is-grouped">
                    <p class="control">
                      <a class="button is-medium is-text has-text-primary">
                        <span class="icon"><i data-feather="search"></i></span>&nbsp;
                      </a>
                    </p>
                  </div>
                </div>
                <div id="search_input_container" class="is-hidden-touch">
                  <form action="{% routablepageurl request.site.root_page.specific 'entries_search' %}" method="get">
                    <div class="field">
                      <div class="control">
                        <input name="q" type="text" placeholder="{% trans 'Type to search' %}" autocomplete="off" class="input is-medium">
                      </div>
                    </div>
                  </form>
                </div>
                <div id="search_input_container_mobile" class="is-hidden-desktop">
                  <form action="{% routablepageurl request.site.root_page.specific 'entries_search' %}" method="get">
                    <div class="field">
                      <div class="control">
                        <input name="q" type="text" placeholder="{% trans 'Type to search' %}" autocomplete="off" class="input is-medium">
                      </div>
                      <button type="submit" class="button is-medium is-text">
                        <span class="icon"><i data-feather="search"></i></span>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
      {% endblock header %}

      {% block content %}
      {% endblock content %}

      {% block footer %}
      <footer id="footer" class="footer">
        <div class="container">
          <div class="content has-text-centered">
            <p class="logo">
              <img src="{% static 'img/logo_white.svg' %}" alt="NotaBanane logo" width="200" />
            </p>
            <p class="social">
              <a href="https://www.instagram.com/notabanane" target="_blank"><i class="fa fa-instagram"></i></a>
              <a href="https://www.facebook.com/Nota-Banane-2193661220853275/" target="_blank"><i class="fa fa-facebook-square"></i></a>
              <a href="https://www.pinterest.ca/notabanane/" target="_blank"><i class="fa fa-pinterest"></i></a>
              <a href="{% url 'feed' %}" target="_blank"><i class="fa fa-rss"></i></a>
            </p>
            <p class="copyright">&copy; NotaBanane {% now "Y" %}&nbsp;&dash;&nbsp;<a href="{% slugurl 'mentions-legales' %}" class="has-text-white">{% trans "Legal notice" %}</a></p>
          </div>
        </div>
      </footer>
      {% endblock footer %}
    </div>

    {% block js %}
    <script src="{{ WEBPACK_DEV_SERVER_URL|default:'' }}{% static 'js/App.js' %}"></script>
    {% endblock js %}

    {% block extra_js %}
    {% endblock extra_js %}

    <script async src="https://www.googletagmanager.com/gtag/js?id={{ GA_PROPERTY_ID }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ GA_PROPERTY_ID }}');
    </script>
  </body>
</html>
