//
// Blog entry page styles
// --------------------------------------------------


body#id_blog_entry {
  section#entry_header {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .fill-opacity {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      background-color: rgb(70, 53, 54);
      opacity: 0.25;
    }

    .hero-body {
      position: relative;
      z-index: 2;
      padding-top: 0;
      padding-bottom: 0;

      .header-content-wrapper {
        padding-top: 9rem;
        padding-bottom: 9rem;
        display: block;

        .subtitle {
          margin: 1rem;
          display: block;
          font-size: 1rem;
          font-weight: 600;
          text-transform: uppercase;
          color: $white-ter;
        }

        .title {
          margin: 1rem;
          display: block;
          font-size: 3.8rem;
        }
      }

      @include until($tablet) {
        .header-content-wrapper {
          padding-top: 1rem;
          padding-bottom: 10rem;

          .title {
            font-size: 2rem;
          }
        }
      }
    }
  }

  section#entry_body {
    position: relative;

    #share_this_post {
      position: sticky;
      float: left;
      top: 50px;
      left: 50px;

      a {
        margin-bottom: 1rem;
        display: block;
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 2.25rem;
        background: $grey-lighter;
        text-align: center;
        line-height: 2.25rem;
        color: $grey;

        &:hover, &:focus {
          opacity: 0.8;
        }
      }
    }

    .content.body, .content.introduction {
      font-size: 1.1rem;

      p:first-child::first-letter {
        margin: 6px 14px -5px 0;
        float: left;
        font-size: 2.65em;
        font-weight: 700;
        line-height: 60px;
        color: $primary;
      }

      p:first-child {
        font-size: 22px;
        line-height: 30px;
        font-size: 1.60em;
        line-height: 1.4em;
      }
    }

    #entry_recipe {
      margin-top: 3rem;

      .recipe-general-info-and-ingredients-wrapper {
        height: 100%;
        background: #f3f3f3;
        @include rounded(4px);

        .recipe-image {
          margin-bottom: 1rem;

          img {
            display: block;
            width: 100%;
            @include rounded(4px 4px 0 0);
          }
        }

        .content {
          padding: 0 1rem;
          padding-bottom: 1rem;

          .recipe-meta-information {
            p {
              margin-bottom: 0.25rem;
            }
          }

          .recipe-ingredients {
            ul {
              margin-left: 1rem;
              list-style: none;

              li {
                &:before {
                  content: "\2022";
                  color: $ectasy;
                  font-weight: bold;
                  font-size: 1.25rem;
                  display: inline-block;
                  width: 1rem;
                  margin-left: -1rem;
                }
              }
            }
          }
        }
      }

      .content.preparation {
        ol {
          position: relative;
          margin-left: 0;
          margin-bottom: 2rem;
          list-style: none;
          counter-reset: recipe-instructions-counter;

          li {
            margin-left: 2.5rem;
            margin-bottom: 0.5rem;
            counter-increment: recipe-instructions-counter;

            &:before {
              position: absolute;
              left: 0.2rem;
              content: counter(recipe-instructions-counter) ". ";
              font-family: IndieFlower;
              font-size: 1.25rem;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
